<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sentiment Analysis Visualiazation</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

  <!-- Bulma Version 0.7.x-->
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}" />
  {% block stylesheet %}{% endblock stylesheet %}
</head>

<body>
    <!-- START NAV -->
    <nav class="navbar is-white">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item brand-text" href="#">
            Sentiment Analysis Visualization
          </a>
          <div class="navbar-burger burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAV -->

    <div class="container" style="margin-top: 1px">
      <div class="columns">
        <!-- side menu -->
        <div class="column is-3 ">
          <aside class="menu is-hidden-mobile">
            <p class="menu-label">
                General
            </p>
            <ul class="menu-list">
                <li><a href="{{ url_for('realtime_page') }}">Page 1</a></li>
                <li><a href="{{ url_for('display_page') }}">Page 2</a></li>
            </ul>
          </aside>
        </div>
        <!-- end of side menu-->

        <!-- content -->
        <div class="column is-9">
            {% block content %}
            <div class="card">
              <div class="card-content">
                &nbsp;
              </div>
            </div>
            {% endblock content %}
        </div>
        <!-- end of content -->
    </div>

    {% block javascript %}{% endblock javascript %}
</body>

</html>