<div class="card">

        <header class="card-header">
            <p class="card-header-title">Debate 3</p>
        </header>
    
        <div class="card-content">
            <div class="columns">
                <div class="container">
                    <div class="columns">
                        <div class="column is-12">
    
                            <section class="accordions">
                                <div class="accordion">
                                    <div class="accordion-header toggle">
                                        <p>Jokowi</p>
                                    </div>
                                    <div class="accordion-body">
                                        <div class="accordion-content">
                                            <div class="container">
                                                <div class="columns">
                                                    <div class="column is-7">
                                                        <div class="tabs is-small">
                                                            <ul>
                                                                <li class="tab is-active" onclick="openTab(event,'d3j-sentiment-positive')"><a>Positif</a></li>
                                                                <li class="tab" onclick="openTab(event, 'd3j-sentiment-negative')"><a>Negatif</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="container">
                                                            <div id="d3j-sentiment-positive" class="content-tab">
                                                                {% for res in data['debat_3']['jokowi'] %}
                                                                    {% if res['sentiment'] == 'POSITIF'%}
                                                                        <p><strong>{{ res['user'] }}: </strong>{{ res['tweet'] }}</p>
                                                                        <br/>
                                                                    {% endif %}
                                                                {%- endfor %}
                                                            </div>
                                                            <div id="d3j-sentiment-negative" class="content-tab" style="display:none">
                                                                {% for res in data['debat_3']['jokowi'] %}
                                                                    {% if res['sentiment'] == 'NEGATIF'%}
                                                                        <p><strong>{{ res['user'] }}: </strong>{{ res['tweet'] }}</p>
                                                                        <br/>
                                                                    {% endif %}
                                                                {%- endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column is-5">
                                                        <div class="container">
                                                            <canvas id="d3j-pie-jokowi" width="800" height="800"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion">
                                    <div class="accordion-header toggle">
                                        <p>Prabowo</p>
                                    </div>
                                    <div class="accordion-body">
                                        <div class="accordion-content">
                                            <div class="container">
                                                <div class="columns">
                                                    <div class="column is-7">
                                                        <div class="tabs is-small">
                                                            <ul>
                                                                <li class="tab is-active" onclick="openTab(event,'d3p-sentiment-positive')"><a>Positif</a></li>
                                                                <li class="tab" onclick="openTab(event, 'd3p-sentiment-negative')"><a>Negatif</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="container">
                                                            <div id="d3p-sentiment-positive" class="content-tab">
                                                                {% for res in data['debat_3']['prabowo'] %}
                                                                    {% if res['sentiment'] == 'POSITIF'%}
                                                                        <p><strong>{{ res['user'] }}: </strong>{{ res['tweet'] }}</p>
                                                                        <br/>
                                                                    {% endif %}
                                                                {%- endfor %}
                                                            </div>
                                                            <div id="d3p-sentiment-negative" class="content-tab" style="display:none">
                                                                {% for res in data['debat_3']['prabowo'] %}
                                                                    {% if res['sentiment'] == 'NEGATIF'%}
                                                                        <p><strong>{{ res['user'] }}: </strong>{{ res['tweet'] }}</p>
                                                                        <br/>
                                                                    {% endif %}
                                                                {%- endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column is-5">
                                                        <div class="container">
                                                            <canvas id="d3p-pie-prabowo" width="800" height="800"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                            </section>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>