{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='chart/Chart.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='accordion/bulma-accordion.min.css') }}" />
{% endblock stylesheet %}

{% block content %}
<div id="stats" data-stats="{{ stats }}"></div>

{% include "card-content-debate1.html" %}
<br/>
{% include "card-content-debate2.html" %}
<br/>
{% include "card-content-debate3.html" %}
<br/>
{% include "card-content-debate4.html" %}
<br/>
{% include "card-content-debate5.html" %}

{% endblock content%}

{% block javascript %}
<script src="{{ url_for('static', filename='chart/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='accordion/bulma-accordion.min.js') }}"></script>
<script async>
  // reference: https://codepen.io/t7team/pen/ZowdRN
  function openTab(evt, tabName) {
    var i, x, tablinks
    x = document.getElementsByClassName("content-tab")
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none"
    }
    tablinks = document.getElementsByClassName("tab")
    for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" is-active", "")
    }
    document.getElementById(tabName).style.display = "block"
    evt.currentTarget.className += " is-active"
  }

  function renderChart(elementId, totalPositive, totalNegative, title) {
      const context = document.getElementById(elementId).getContext('2d')
      return new Chart(context, {
        type: 'pie',
        data: {
          labels: ['Positif', 'Negatif'],
          datasets: [{
            label: '# of votes',
            data: [totalPositive, totalNegative],
            backgroundColor: [
              'rgba(0,191,255)',
              'rgba(250,128,114)',
            ],
            borderWidth: 1
          }]
        },
        options: {
          legend: {
            display: true,
            position: 'bottom',
            labels: {
              fontStyle: 'semibold'
            }
          },
          tooltips: {
            display: true,
            titleFontStyle: 'semibold',
          },
          title: {
            display: true,
            text: title,
          }
        }
      })
  }

  // ------------------ render visualization -----------------
  const accordions = bulmaAccordion.attach()

  const $statsElement = document.getElementById('stats')
  let data = $statsElement.getAttribute('data-stats')
  data = JSON.parse(data)

  // debate 1
  const chart1 = renderChart('d1j-pie-jokowi', data.debat_1.jokowi.positive, data.debat_1.jokowi.negative, 'Periode 1 Jokowi')
  const chart2 = renderChart('d1p-pie-prabowo', data.debat_1.prabowo.positive, data.debat_1.prabowo.negative, 'Periode 1 Prabowo')
  
  // debate 2
  const chart3 = renderChart('d2j-pie-jokowi', data.debat_2.jokowi.positive, data.debat_2.jokowi.negative, 'Periode 2 Jokowi')
  const chart4 = renderChart('d2p-pie-prabowo', data.debat_2.prabowo.positive, data.debat_2.prabowo.negative, 'Periode 2 Prabowo')
  
  // debate 3
  const chart5 = renderChart('d3j-pie-jokowi', data.debat_3.jokowi.positive, data.debat_3.jokowi.negative, 'Periode 3 Jokowi')
  const chart6 = renderChart('d3p-pie-prabowo', data.debat_3.prabowo.positive, data.debat_3.prabowo.negative, 'Periode 3 Prabowo')
  
  // debate 4
  const chart7 = renderChart('d4j-pie-jokowi', data.debat_4.jokowi.positive, data.debat_4.jokowi.negative, 'Periode 4 Jokowi')
  const chart8 = renderChart('d4p-pie-prabowo', data.debat_4.prabowo.positive, data.debat_4.prabowo.negative, 'Periode 4 Prabowo')
  
  // debate 5
  const chart9 = renderChart('d5j-pie-jokowi', data.debat_5.jokowi.positive, data.debat_5.jokowi.negative, 'Periode 5 Jokowi')
  const chart10 = renderChart('d5p-pie-prabowo', data.debat_5.prabowo.positive, data.debat_5.prabowo.negative, 'Periode 5 Prabowo')
</script>
{% endblock javascript %}
