{% extends "base.html" %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static', filename='chart/Chart.min.css') }}" />
{% endblock stylesheet %}

{% block content %}
<div id="main" 
     data-positive="{{ data['POSITIF']['total'] }}"
     data-negative="{{ data['NEGATIF']['total'] }}">
</div>

<div class="card-content">
  <div class="columns">
    <div class="column is-12">
      <form action="" method="POST">
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input class="input" type="text" name="keyword" placeholder="Input keyword">
          </p>
          <p class="control">
            <input type="submit" value="Uji" class="button is-success">
          </p>
        </div>
      </form>
    </div>
  </div>
  <div class="columns">
    <div class="column is-7">
      <div class="tabs is-small">
        <ul>
          <li class="tab is-active" onclick="openTab(event,'sentiment-positive')"><a>Positif</a></li>
          <li class="tab" onclick="openTab(event, 'sentiment-negative')"><a>Negatif</a></li>
        </ul>
      </div>

      <div class="container">
        <div id="sentiment-positive" class="content-tab">
          {% if data %}
            {% for pos in data['POSITIF'].data %}
              <p>{{ pos }}</p>
            {% endfor %}
          {% endif %}
        </div>
        <div id="sentiment-negative" class="content-tab" style="display:none">
          {% if data %}
            {% for neg in data['NEGATIF'].data %}
              <p>{{ neg }}</p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="column is-5">
      <div class="container">
        <canvas id="pie-visualization" width="800" height="800"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock content%}

{% block javascript %}
<script src="{{ url_for('static', filename='chart/Chart.min.js') }}"></script>
<script async>
  // reference: https://codepen.io/t7team/pen/ZowdRN
  function openTab(evt, tabName) {
    var i, x, tablinks
    x = document.getElementsByClassName("content-tab")
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none"
    }
    tablinks = document.getElementsByClassName("tab")
    for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" is-active", "")
    }
    document.getElementById(tabName).style.display = "block"
    evt.currentTarget.className += " is-active"
  }

  const $main = document.getElementById('main')
  const data = {
    'positive': $main.getAttribute('data-positive'),
    'negative': $main.getAttribute('data-negative'),
  }

  // Pie chart visualization.
  const ctx = document.getElementById('pie-visualization').getContext('2d')
  const chart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['Positif', 'Negatif'],
      datasets: [{
        label: '# of votes',
        data: [data.positive, data.negative],
        backgroundColor: [
          'rgba(0,191,255)',
          'rgba(250,128,114)',
        ],
        borderWidth: 1
      }]
    },
    options: {
      legend: {
        display: true,
        position: 'bottom',
        labels: {
          fontStyle: 'semibold'
        }
      },
      tooltips: {
        display: true,
        titleFontStyle: 'semibold',
      },
    }
  })
</script>
{% endblock javascript %}